.header1 {
   position: center;
   color: #481f00;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
   font-size: 60px;
   margin-left: 30px;
   margin-top: 10px;
   margin-bottom: 10px;
   font-family: "Courier", sans-serif;
   text-align: center;
 }
 
  
  .button {
      padding: 10px 20px;
      border-radius: 2px;
      outline: none;
      border: none;
      cursor: pointer;
  
}
#Auto{
   background-color: #9a6d06;
   color: white;
   margin-left: 100px;
   margin-top: 0px;
   text-align: center;
}
#Manual{
   background-color: #9a6d06;
   color: white;
   margin-left: -500px;
   margin-top: 0px;
   text-align: center;
}
#left{
     background-color: #6aff00;
     color: white;
     margin-left: 0px;
     margin-top: 100px;
     text-align: center;
}

#right{
   background-color: #6aff00;
     color: white;
     margin-left: 5px;
     margin-top: 100px;
     text-align: center;
}
#forward{
   background-color: #6aff00;
     color: white;
     margin-left: 12px;
     margin-top: 10px;
     text-align: center;
}
#backward{
   background-color: #6aff00;
     color: white;
     margin-left: -115px;
     margin-top: 190px;
     text-align: center;
}
#stop{
   background-color: red;
     color: white;
     margin-left: -641px;
     margin-top: 100px;
     text-align: center;
}