.header1 {
   position: center;
   color: #481f00;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
   font-size: 60px;
   margin-left: 30px;
   margin-top: 10px;
   margin-bottom: 10px;
   font-family: "Courier", sans-serif;
   text-align: center;
 }
 
  
  .button {
      padding: 10px 20px;
      border-radius: 2px;
      outline: none;
      border: none;
      cursor: pointer;
  
}
#left{
     background-color: #6aff00;
     color: white;
}

#right{
   background-color: #6aff00;
     color: white;
}
#forward{
   background-color: #6aff00;
     color: white;
}
#backward{
   background-color: #6aff00;
     color: white;
}
#stop{
   background-color: red;
     color: white;
}